 
/*  header */

.ih-topbar, .ih-topbar .uk-navbar {
	background:black;
}
.ih-header-container {

}
.ih-header-container .uk-navbar {
	background:none transparent;
	border-bottom:0;
	text-align:right;
}
h1.page-title {
	margin-top:70px;
}
.ds-darkbgs h1.page-title {
	color:rgba(255,255,255,0.8);
	margin-bottom:70px;
}
.ih-header-container .uk-overlay-panel .uk-grid {
	min-height:212px;
}
.ih-header-container .ds-darkheader .ds-mainmenu > a {
	color:rgba(255,255,255,0.6);
}
.ih-header-container .ds-mainmenu a {
	text-shadow: none;
    text-decoration: none;
}
.ih-header-container .ds-mainmenu:hover > a {
	color:#fff;
}
.ih-header-container .ds-mainmenu > a:focus {
    background:transparent;
}
.ih-header-container .ds-mainmenu .uk-dropdown-navbar {
    background:#ccc;
}
.ih-header-container .ds-darkheader .ds-mainmenu .uk-dropdown-navbar {
	background:rgba(0,0,0,0.5);
}
.ih-header-container .ds-mainmenu .uk-dropdown {
    text-align:left;
    border:0;
}
.ih-header-container .ds-mainmenu .uk-dropdown:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.site-branding {
	display:none;
}
.uk-navbar-nav>li>a {
    text-shadow:none;
    border:0;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color:transparent;
    color:#fff;
    border:0
    text-shadow:none;
    text-decoration:none;
}
.ds-mainmenu .ds-mainmenu > a {
    color:#555;
}
.ih-header-container.ds-darkbgs {
	background:url(../img/darkbgs/greypolygonswide.jpg) center center #666;
    background-size:cover;
}
.uk-tag {
    float:left;
    margin-right:3px;
    position:relative;
}
.uk-tag a {
    padding:4px 9px;
    font-size:11px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family:verdana;
    color:#3b3d3c;
    background:#f3f3f3;
}
.uk-tag a:hover {
    text-decoration:none;
    background:#ddd;
}

.kitty-teaser {
    box-shadow:0 0 30px rgba(0,0,0,0.1);
}
.uk-back-black {
    background:#333;
}
.block-user-login-block .user-login-form {
    margin-left:15px;
}
.block-user-login-block .user-login-form label {
    color:#aaa;
}
.page-node-type-page .field--name-field-image {
    margin-bottom:30px;
    box-shadow:0 0 45px #ccc;
}
.kitty-teaser .uk-subnav-pill a {
    border:1px solid rgba(30,30,30,0.2);
}
/*  pure css post tags */

.ds-tags li, .ds-tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}
.ds-tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#00a8e6;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
.ds-tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #00a8e6 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}
.ds-tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
.ds-tags a:hover{background:#555;}	

.ds-tags a:hover:before{border-color:transparent #555 transparent transparent;}