<div class="footwrap uk-back-black">
    <div class="uk-container uk-container-center uk-margin-large-top">
       
      {% if page.footer %}
          {{ page.footer }}
     {% endif %}
       
    </div>
</div>
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
         {{ page.offcanvas }}
        </ul>
    </div>
</div>