{#
/**
 * @file
 * Designer's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% include directory ~ '/templates/includes/header.html.twig' %}

<div class="ih-header-container ds-darkbgs uk-cover-background">

	<div class="uk-margin-left uk-margin-right">
		<div class="uk-grid">
			<div class="uk-width-1-2 uk-margin-top">
	<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
      <img src="/themes/designer/img/logo-white.png" alt="{{ 'Home'|t }}" />
    </a>
			</div>
			<div class="uk-width-1-2 uk-margin-top">
				<nav class="uk-navbar uk-navbar-attached">
					 <div class="uk-navbar-flip ds-darkheader">
					{{ page.mainmenu }}
					</div>
				</nav>
			</div>
            <div class="uk-width-1-1 uk-text-center">
                <h1> {{ page.pagetitle }} </h1>
            </div>
		</div>
	</div>
</div>

{% include directory ~ '/templates/includes/highlights-status.html.twig' %}

<div class="uk-container uk-container-center">


 <div class="uk-grid" data-uk-grid-margin>
         <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-margin-large-top">  
       <div> 
        <div class="uk-panel">
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="column sidebar uk-nav-side">
            <aside class="section" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="column sidebar uk-nav-side">
            <aside class="section" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          </div>
        {% endif %}
           </div>
        </div>
    </div>
     
                <div class="uk-width-medium-2-4 uk-width-large-3-4 uk-margin-large-top">

        {{ page.breadcrumb }}
        <main id="content" class="column main-content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
                    
                    
     </div>                  
                    

     
     
   {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}




 {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}

                    
</div> <!--/ .uk-grid /-->
</div> <!--/ .uk-container /-->


{% include directory ~ '/templates/includes/footer.html.twig' %}
