{#
/**
 * @file
 * DESIGNERS theme implementation to display the front page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}


{% include directory ~ '/templates/includes/header.html.twig' %}

<div class="ih-header-container uk-overlay">
	<img src="/themes/designer/img/ihd-3d-iso-3.jpg">
	<div class="uk-overlay-panel">
		<div class="uk-grid">
			<div class="uk-width-1-2">
			{{ page.branding }}
			</div>
			<div class="uk-width-1-2">
				<nav class="uk-navbar uk-navbar-attached">
					 <div class="uk-navbar-flip">
					{{ page.mainmenu }}
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>


{% include directory ~ '/templates/includes/highlights-status.html.twig' %}
<div class="uk-container uk-container-center">
    <a id="main-content" tabindex="-1"></a>
    <div data-uk-slider="{autoplay:true}">
        <div class="uk-slider-container tch-slide-container">
            <ul class="uk-slider">
                {{ page.slider }}
            </ul>
        </div>
    </div>
</div>
<div class="tch-content-back">
    <div class="uk-container uk-container-center">
        <div class="tch-front-content">
            {{ page.content }}
        </div>
    </div>
</div>


{% include directory ~ '/templates/includes/footer.html.twig' %}
